{% extends "base.html" %}
{% block content %}
<div class="page-header">
    <h2>Important Tweets</h2></div>  
    {% for tweet in tweets %}
    <div class='well'>
        <p>{{tweet.body}}</p>
        <p>By:<a href="/profile/{{tweet.author.id}}"> {{tweet.author}}</p></a> 
        <p>{{tweet.time_stamp}}</p>
        <a href="/tweet/{{tweet.id}}"><button type="button" class="btn btn-info btn-xs">View</button></a>
        {% if current_user.id != tweet.author.id %}
        <a href="unfollow/{{tweet.author.id}}"><button type="button" class="btn btn-info btn-xs">Stop Following {{tweet.author}}</button></a>
        
        {% endif %}
    </div>
    {% endfor %}



{% endblock %}